{% extends 'clinica/base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'styles/contato.css' %}" />
{% endblock %} {% block content %}
<main>
  <section class="container">
    <img
      class="mainlogo"
      src="{% static 'assets/logo_claro_sem_fundo.png' %}"
      alt="logo"
    />
    <h1>Obrigado por entrar em contato!</h1>
    <p>
      você pode nos mandar uma mensagem pelo whats clicando no botão abaixo.
    </p>
    <a href="/contato/agradecimento/2" target="_blank" role="button"
      ><svg
        width="50"
        height="50"
        viewBox="0 0 50 50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.323 44.4288L2.05383 47.7433L6.2323 36.8124L2.83287 30.2539L3.39944 17.2073L11.0482 6.62906L20.6091 2.2567L36.6856 4.44288L45.6091 13.6107L48.8669 20.6629V23.7659L43.7677 39.4922L29.7451 46.897L12.323 44.4288Z"
          fill="url(#paint0_linear_108_38)"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M25.0708 49.6474C38.8388 49.6474 50 38.5334 50 24.8237C50 11.1139 38.8388 0 25.0708 0C11.3028 0 0.141643 11.1139 0.141643 24.8237C0.141643 29.3512 1.35885 33.5956 3.48517 37.2501L3.47025 37.2355L0 50L13.0051 46.5513C16.5803 48.5241 20.6938 49.6474 25.0708 49.6474ZM8.26051 36.5908C5.90661 33.2625 4.52432 29.2038 4.52432 24.8237C4.52432 13.5242 13.7233 4.36413 25.0708 4.36413C36.4183 4.36413 45.6173 13.5242 45.6173 24.8237C45.6173 36.1232 36.4183 45.2833 25.0708 45.2833C20.8586 45.2833 16.9424 44.0211 13.6828 41.8558L6.2323 43.7941L8.26051 36.5908Z"
          fill="white"
        />
        <path
          d="M12.6062 16.8547C12.9604 15.0917 14.9434 13.1171 15.864 13.1171C16.8262 12.9436 18.0386 13.0076 18.3428 13.4697C19.1218 14.8096 20.3966 18.2652 20.3966 18.2652C20.3966 18.2652 21.034 19.2525 20.7507 19.8166C20.7507 20.4513 18.6969 22.0733 18.6969 22.7786C19.4051 24.4006 19.8105 24.7726 20.7507 25.8815C22.5921 28.0677 23.796 28.7729 26.4164 30.1128C27.2809 30.3315 27.8329 31.1001 28.6827 30.3949C29.3909 29.6192 29.7451 29.055 30.3116 28.3498C31.3739 26.9394 32.5779 27.7856 32.5779 27.7856C32.5779 27.7856 35.9065 29.3371 37.3938 30.3949C37.7559 31.5921 37.5571 32.4638 36.9689 33.5684C36.3533 34.7243 35.6123 35.2063 34.4193 35.7546C33.1763 36.3258 32.3172 36.2963 30.949 36.2482C29.1114 36.1837 28.1322 35.6374 26.4164 34.9788C24.1742 34.3341 22.5821 33.3817 20.3966 31.6643C18.3726 30.0992 15.864 26.9394 15.864 26.9394C15.864 26.9394 13.6002 24.19 12.9604 22.0733C12.3691 20.1174 11.9317 18.7838 12.6062 16.8547Z"
          fill="white"
        />
        <defs>
          <linearGradient
            id="paint0_linear_108_38"
            x1="40.6203"
            y1="5.89147"
            x2="0.686458"
            y2="49.1041"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#46B932" stop-opacity="0.871357" />
            <stop offset="0.5" stop-color="#49B537" />
            <stop offset="1" stop-color="#66BD57" />
          </linearGradient>
        </defs>
      </svg>
      Whatsapp
    </a>
    <hr />
    <p>Ou preencha o formulário abaixo que entraremos em contato com você:</p>
    <form>
      <label for="formnome">
        <span>Nome: <b>*</b></span>
        <input type="text" name="nome" id="formnome" maxlength="30" required />
      </label>
      <hr />
      <label for="formnumero">
        <span>Número para contato: <b>*</b></span>
        <input type="number" name="numero" id="formnumero" required />
      </label>
      <hr />
      <fieldset>
        <legend>Faixa etária:</legend>
        <label for="crianca">
          <input type="radio" name="formetaria" id="crianca" value="crianca" />
          Criança
        </label>
        <label for="adolescente">
          <input
            type="radio"
            name="formetaria"
            id="adolescente"
            value="adolescente"
          />
          Adolescente
        </label>
        <label for="adulto">
          <input type="radio" name="formetaria" id="adulto" value="adulto" />
          Adulto
        </label>
        <label for="idoso">
          <input type="radio" name="formetaria" id="idoso" value="idoso" />
          Idoso
        </label>
      </fieldset>
      <hr />
      <fieldset>
        <legend>Quais dias tem disponíveis para atendimento?</legend>
        <label for="seg">
          <input type="checkbox" name="dia" id="seg" value="seg" />
          Segunda
        </label>
        <label for="ter">
          <input type="checkbox" name="dia" id="ter" value="ter" />
          Terça
        </label>
        <label for="qua">
          <input type="checkbox" name="dia" id="qua" value="qua" />
          Quarta
        </label>
        <label for="qui">
          <input type="checkbox" name="dia" id="qui" value="qui" />
          Quinta
        </label>
        <label for="sex">
          <input type="checkbox" name="dia" id="sex" value="sex" />
          Sexta
        </label>
        <label for="sab">
          <input type="checkbox" name="dia" id="sab" value="sab" />
          Sábado
        </label>
      </fieldset>
      <hr />
      <fieldset>
        <legend>Quais o períodos tem disponíveis para atendimento?</legend>
        <label for="manha">
          <input type="checkbox" name="periodo" id="manha" value="manha" />
          Manhã
        </label>
        <label for="tarde">
          <input type="checkbox" name="periodo" id="tarde" value="tarde" />
          Tarde
        </label>
        <label for="noite">
          <input type="checkbox" name="periodo" id="noite" value="noite" />
          Noite
        </label>
      </fieldset>
      <hr />
      <label for="texto"
        >Caso queira, fale um pouco sobre o motivo de procurar esse serviço.
        <textarea
          name="texto"
          id="texto"
          cols="30"
          rows="10"
          wrap="hard"
        ></textarea>
      </label>
      <input type="submit" value="Enviar" id="formsubmit" />
    </form>
  </section>
</main>
{% endblock %} {% block script %}
<script src="{% static '/scripts/form.js' %}"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
{% endblock %}
